services:
  setup:
    build:
      context: .
      dockerfile: build_files/setup/dockerfile
      args:
        GODOT_VERSION: ${GODOT_VERSION}
        GODOT_STEAM_VERSION: ${GODOT_STEAM_VERSION}
    volumes:
      - ./godot_data:/godot_data
      - ./steam_sdk:/steam_sdk:ro
    command: ["/bin/sh", "-c", "cp -r /godot_setup/. /godot_data/ && echo 'Copy complete'"]

  linux_build:
    build: ./build_files/linux_build
    volumes:
      - ./godot_data:/godot_data
    working_dir: /godot_data/godot

volumes:
  godot_data: